!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = include_gon
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title KuroTube
    = favicon_link_tag()
  %body
    = render partial: "layouts/user-menu"
    = render partial: "layouts/header"
    #wrapper
      = render partial: "layouts/side-menu"
      #contents-wrapper
        = yield
