<h1>update user info</h1>
<hr>
<p>name：<%= @user.family_name %><%= @user.first_name %>sann</p>
<p>Intro：<%= @user.self_introduction %></p>
<hr>
<p><a href="/users/<%= @user.id %>" class="btn btn-primary">back to user info</a></p>
<p><a href="/users/<%= @user.id %>/edit" class="btn btn-success">back to user edit</a></p>
<p><a href="/posts" class="btn btn-info">トップに戻る</a></p>